<!DOCTYPE html>
<html lang="en">
    <head>
        <title>IDriss - OBS</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Your OBS overlay" />
        <script src="https://cdn.tailwindcss.com"></script>
        <!--Use global icons-->
        <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png" />
        <link rel="shortcut icon" type="image/png" href="../static/images/favicon32.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon16.png" />
    </head>
    <body>
        <style>
            #fader {
                opacity: 1;
                transition: opacity 1s;
            }
        </style>
        <!-- NOTIFICATION -->
        <div id="fader" style="opacity: 0;" class="mt-12">

            <div id="donationAlert" class="absolute top-0 left-0 p-4 text-gray-900 bg-white bg-opacity-80 rounded-r-md">
                <dt>
                    <div class="absolute flex items-center justify-center h-14 w-14 text-gray-900">
                        <img class="w-auto h-16" src="../static/images/IDriss_Brandmark.svg" alt="IDriss" />
                    </div>
                    <p id="baseInfo" class="pt-1 ml-16 text-xl text-gray-900 leading-6 font-bold">Someone tipped $1</p>
                </dt>
                <dd id="message" class="ml-16 text-lg text-gray-900 font-medium">
                    GG!
                </dd>
            </div>
        </div>
        <!-- SCRIPT -->
        <script src="https://unpkg.com/idriss-crypto/lib/bundle/global.js"></script>
        <script type="text/javascript" src="{{ url_for('.static', filename='../static/js/web3.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('.static', filename='../static/js/obs.js') }}"></script>
    </body>
</html>
